/* You can add global styles to this file, and also import other style files */
@import './assets/fonts/fonts';
@import './assets/reset';

:root {
  /* Colors */

  --background-default: #ffffff;
  --background-dark: #E1E2E1;
  --background-light: #F5F5F6;

  --primary-default: #76ff03;
  --primary-dark: #32cb00;
  --primary-light: #b0ff57;

  --secondary-default: #b2ff59;
  --secondary-dark: #7ecb20;
  --secondary-light: #e7ff8c;

  --text-default: #212121;
  --text-secondary: #616161;

  --error-default: #f50057;
  --error-dark: #ff5983;
  --error-light: #bb002f;
  --box-shadow-dark: 0 0 10px 2px rgba(0, 0, 0, 0.5);

  /* Shadows */
  // --background-tertiary-shadow: 0 1px 3px 0 rgba(92, 125, 153, 0.5);
}

body {
  background: var(--background-default);
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  font-weight: 500;
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-grow: 1;
}

app-root,
app-main {
  display: flex;
  flex-grow: 1;
  min-height: 100%;
}
