@font-face {
  font-family: 'Montserrat';
  src: url('./Montserrat-Black/Montserrat-Black.eot');
  src: url('./Montserrat-Black/Montserrat-Black.eot?#iefix') format('embedded-opentype'),
    url('./Montserrat-Black/Montserrat-Black.woff') format('woff'),
    url('./Montserrat-Black/Montserrat-Black.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./Montserrat-Regular/Montserrat-Regular.eot');
  src: url('./Montserrat-Regular/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
    url('./Montserrat-Regular/Montserrat-Regular.woff') format('woff'),
    url('./Montserrat-Regular/Montserrat-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./Montserrat-Medium/Montserrat-Medium.eot');
  src: url('./Montserrat-Medium/Montserrat-Medium.eot?#iefix') format('embedded-opentype'),
    url('./Montserrat-Medium/Montserrat-Medium.woff2') format('woff2'),
    url('./Montserrat-Medium/Montserrat-Medium.woff') format('woff'),
    url('./Montserrat-Medium/Montserrat-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./Montserrat-SemiBold/Montserrat-SemiBold.eot');
  src: url('./Montserrat-SemiBold/Montserrat-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('./Montserrat-SemiBold/Montserrat-SemiBold.woff2') format('woff2'),
    url('./Montserrat-SemiBold/Montserrat-SemiBold.woff') format('woff'),
    url('./Montserrat-SemiBold/Montserrat-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 700;
  src: url('./Montserrat-Bold/Montserrat-Bold.eot');
  src: url('./Montserrat-Bold/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
    url('./Montserrat-Bold/Montserrat-Bold.woff') format('woff'),
    url('./Montserrat-Bold/Montserrat-Bold.ttf') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./Montserrat-ExtraBold/Montserrat-ExtraBold.eot');
  src: url('./Montserrat-ExtraBold/Montserrat-ExtraBold.eot?#iefix') format('embedded-opentype'),
      url('./Montserrat-ExtraBold/Montserrat-ExtraBold.woff2') format('woff2'),
      url('./Montserrat-ExtraBold/Montserrat-ExtraBold.woff') format('woff'),
      url('./Montserrat-ExtraBold/Montserrat-ExtraBold.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
